/* CSS declarations go here */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

* {
  font-family: 'Montserrat', serif;
}

.heading {
  float: left;
}

header {
  height: 120px;
}

h1, a {
  color: #000;
  text-decoration: none;
}

h1:hover {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: none;
}

.subtitle {
  color: gray;
  font-size: 10px;
}

.hamburger {
  margin-right: 1em;
  float: right;
  position: relative;
  width: 32px;
}

.jabbr {
  background: url(/jabbr.png);
}

.hackfeed {
  background: url(/hackfeed.png);
}

.zvsv {
  background: url(/zvsv.png);
}

.thumbnail {
  position: relative;
  margin: 2em;
  vertical-align:middle;
  width: 42%;
  float:left;
  background-size: contain;
  color: rgba(0, 0, 0, 0);
}

.thumbnail p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 3.2em;
 }


.thumbnail:hover {
  opacity: 0.5;
  color: rgba(0, 0, 0, 0.9);
}

img.thumb {
  width: 100%;
}